.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(12, 12, 10);
}
 .headf{
   height: 60px;
   width:400px;
   background-color: rgb(235, 231, 13);
   border-radius: 5px;
   margin: auto;
   margin-top: 15px;
 }
 .headf>h1{
   color: black;
 }
 .times{
   display: flex;
   margin-top: 30px;
   justify-content: space-around;
 }
 .displayCount>p{
   color: rgb(129, 11, 11);
   padding:6px;
   font-size: 50px;
   font-weight: bold;
   font-family: cursive;
 }
 .displayCount{
  background-color:rgb(133, 184, 241);
  height: 80px;
  margin-top: 50px;
 }
h2{
  color: azure;
}